<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/dist/app.css">

    <script src="/test/datepicker/ks/index.js"></script>
    <script type="text/javascript">
        
        KS({
            // kspath:'/src/min/ks/',
            components:['KsDatePicker','KsPage','KsDialog','KsModal','KsSwitch'], 
            propertys:{KsModal:'KsModal'},
            directives:['KsLimitNumberFixed'],
            // renderField:['div'],
            // filters:['cc'],
            data:{
                name:'zdzDesigner-----',
                checked:false,
                max:10000,
                page:1,
                datepicker:'2011-10-10',
                datemonthpicker:'',
                switch:''
            },
            methods:{
                change:function(val){
                    console.log(val)
                },
                sublime:function(){
                    alert('lll')
                },
                dialog(){
                    this.$KsDialog.success('1111', '2333', true)();
                    // this.$KsModal.info('1', '2', '3')();
                }
            },
            preReady:function(){
                console.log('preReady')
            },
            ready:function(){
                // $('#form1').validator({
                //     valid: function(form) {
                //         form.submit();
                //     }
                // });
                console.log(this.ksloads)
                // this.switch = ""
            }
        })

        

        
       
    </script>
</head>
<body id="app">
    <ks-switch v-bind:checked.sync="switch" name="cc"></ks-switch>
    <input type="text" name="kq" v-bind:value="switch">
    <!-- {{name}} -->
    <input type="text" name="" v-model="name">
    <div id="renderField1">
        <ks-date-picker type="datemonth" :value.sync="datepicker" min="2011-10" style="width:200px"></ks-date-picker>
        <input type="hidden" name=""  value="{{datepicker}}">
        {{datepicker}}
    </div>
    <div>
        <ks-date-picker :value.sync="datemonthpicker" type="date" style="width:200px"></ks-date-picker>
        <input type="hidden" name=""  value="{{datemonthpicker}}">
        <!-- {{datemonthpicker}} -->
    </div>
    <br>
    <ks-page 
        v-bind:current.sync="page" 
        v-bind:length="9"
        v-bind:total="1000"
        v-bind:size="13"
        v-bind:on-change="change"></ks-page>
    {{page}}
    <h3>指令 </h3>
    <input type="text" v-ks-limit-number-fixed:2="max" name="">
    <button type="button" v-on:click="dialog">dialog</button>
    
    <h3>验证 </h3>
    <form class="form" data-validator-option='{stopOnError:false, timely:2, theme:"yellow_right"}'>
        <div class="form-item">
            <label class="label">Username</label>
            <input type="text"
                class="input" 
                name="username"
                data-rule="required;username;"
                data-rule-username="[/^[\w\d]{3,12}$/, '请输入 3到12 包含数字、字符、下划线']"
                data-tip="这是输入提示"
            >
            <input name="demo" 
            data-rule="required; abc" 
            data-rule-abc="[/^\d{6}$/, '请输入6位数字']"
            data-tip="6位数字备注信息">
         </div>
        <div class="form-item"><input type="submit" name="">submit</div>
    </form>
    
    <!-- 弹框 -->
    <h3>弹框</h3>
    {{checked}}
    <input type="checkbox" name="" v-model="checked">
    <ks-modal-entity :show.sync="checked">
      <!-- ! 注意: 作为 slot 的包裹元素最好使用行内元素 -->
      <span slot="title">通过 Slot 自定义标题eee</span>
      <span slot="content">通过 Slot 自定义内容eee</span>
    </ks-modal-entity>



    <form class="form-inline">
  <div class="form-group">
    <label for="exampleInputType1">标准输入框：</label>
    <input type="text" id="exampleInputType1" placeholder="标准输入框">
  </div>
  <div class="form-group">
    <label for="exampleInputType2">输入：</label>
    <input type="text" id="exampleInputType2" value="输入文字">
  </div>
  <div class="form-group">
     <label for="exampleInputType3">密码：</label>
     <input type="password" id="exampleInputType3" value="xxxx">
  </div>
  <div class="form-group">
    <label for="exampleInputType4">选择框：</label>
    <select id="exampleInputType4">
        <option>选择框</option>
        <option>选择框</option>
        <option>选择框</option>
        <option>选择框</option>
    </select>
  </div>
  <div class="form-group">
       <label>纯文字：</label>
       <span>静态文字</span>
  </div>
  <div class="form-group align-items-start">
       <label for="exampleInputType5">多文本：</label>
       <textarea rows="3"></textarea>
  </div>
  <div class="form-group justify-content-center">
    <a class="btn-primary">提交</a>
  </div>
</form>


</body>
</html>