.ks-search-criteria{
	padding-bottom: 20px;
	display: flex;
	align-items: flex-end;
	.right{
		flex:1;
		text-align: right;
		display: flex;
    	justify-content: flex-end;
    	flex-wrap: wrap;
    	div {
    		order:-1;
    		margin-top: 20px;
    		span{
	    		margin-right: 10px;
	    	}
    	}
    	div + div{
    		margin-left: 20px;
    	}
	}
}